/* ##############################SKELETON OF THE DOCUMENY################################ */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #333;
}

.wrapper {
    min-height: 100vh;
    min-width: 350px;
    width: 65%;
    margin: 0 auto;
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

/* #########################################HEADER#################################### */
header {
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #fff;
    color: #333;
}

header a {
    display: block;
    width: 50%;
    height: 100%;
    text-align: center;
}

header img {
    width: 350px;
    height: 100%;
}

header h1 {
    width: 50%;
    padding: 45px 0;
    text-align: center;
    font-size: 3rem;
}

/* #################################NAVBAR############################### */
nav {
    position: relative;
    background-color:#333;
}

nav ul {
    display: flex;
    width: 100%;
    list-style: none;
}

nav li {
    flex-grow: 1;
    flex-wrap: nowrap;
    position: relative;
}

nav li a {
    display: block;
    height: 100%;
    padding: 15px 12px;
    background-color: #333;
    color: #fff;
    border-right: 1px solid #fff;
    border-bottom: 3px solid #333;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    transition: .2s;
}

nav li:last-child a {
    border-right: none;
}

nav li a:hover {
    color: orange;
    border-bottom-color: orange;
    cursor: pointer;
}

ul.dropdown-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    z-index: 1;
    width: 310px;
    letter-spacing: .5px;
}

ul.dropdown-menu li a {
    display: block;
    height: 100%;
    padding: 10px 5px;
    border-right: none;
    border-bottom: 1px solid #fff;
}

ul.dropdown-menu li a:hover {
    border-bottom: 1px solid orange;
}

nav ul li:hover > ul.dropdown-menu {
    display: block;
}

/* ###################################Animowana ikonka burgerowa############################################ */
.burger {
    position: absolute;
    top: 5px;
    right: 50px;
    width: 30px;
    height: 30px;
    transition: .2s;
    display: none;
}

.burger.active {
    transform: rotate(-90deg);
}

.burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: orange;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
}

.burger span:nth-child(1) {
    top: 0
}

.burger.active span:nth-child(1) {
    top: calc(50% - 3px);
    transform: rotate(45deg);
}

.burger span:nth-child(2) {
    top: calc(50% - 3px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger span:nth-child(3) {
    bottom: 0;
}

.burger.active span:nth-child(3) {
    bottom: calc(50% - 3px);
    transform: rotate(-45deg);
}

/* ################################################################SLIDER############################################################## */

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin: 0;
    text-align: center;
}

img.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0.6;
}

div.arrows i {
    position: absolute;
    color: #000;
    font-size: 4.5rem;
    opacity: .4;
    display: none;
    cursor: pointer;
}

div.arrows i.icon-left-circle {
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

div.arrows i.icon-right-circle {
    top: 50%;
    right: 5%;
    transform: translate(50%, -50%);
}

.slider:hover div.arrows i {
    display: block;
}

.dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff;
}

.dots span.active {
    box-shadow: 0 0 0 5px #fff, 0 0 3px 10px orange;
}


/* #############################################NEWS SECTION OF THE MAIN PAGE###################################################### */
.news h1 {
    padding: 30px;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 2px solid #333;
}

.news p {
    padding: 30px;
    font-size: 2rem;
    border-bottom: 2px solid #333;
}

/* ###################################################LINKS SECTION OF THE MAIN PAGE######################################################## */
section.links {
    width: 100%;
    height: 150px;
    display: flex;
}

.uni {
    flex-basis: 50%;
    background-color: #ff6633;
}

div.fb {
    flex-basis: 50%;
    background-color: #4267b2;
}

section.links a {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
}

.fb a i {
    font-size: 5.2rem;
    border: 1px solid #fff;
}

/* #######################SKELETON OF THE DIFFERENT PAGES#################################### */
section.dendro,
section.workers,
section.grunto {
    width: 100%;
}

section.dendro h1,
section.workers h1,
section.grunto h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 25px 0 35px;;
    text-align: center;
    color: orange;
}

section.dendro h2,
section.workers h2,
section.grunto h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 15px;
}

section.dendro p,
section.workers p,
section.grunto p {
    font-size: 1.8rem;
    margin: 10px auto;
    padding-left: 25px;
}

section.dendro ul,
section.workers ul,
section.grunto ul {
 list-style: square;
 margin-left: 35px;
 margin-bottom: 10px;
 font-size: 1.8rem;
}

section.dendro ul li,
section.workers ul li,
section.grunto ul li {
    padding: 5px 15px;
}
section.dendro span,
section.workers span,
section.grunto span {
    font-weight: bold;
}

section.dendro hr,
section.workers hr,
section.grunto hr {
    width: 75%;
    border-top: 2px solid orange;
    margin: 20px auto;
}

section.dendro a,
section.grunto a {
    font-size: 1.8rem;
    padding-left: 25px;;
    color: orange;
}

section.dendro div.img1,
section.dendro div.img2,
section.grunto div.img1,
section.grunto div.img2 {
    width: 100%;
    height: 800px;
    border: 1px solid #fff;
}

section.dendro div.img1 {
    background: center / cover no-repeat url(../img/dendro_1.jpg);
}

section.dendro div.img2 {
    background: center / cover no-repeat url(../img/dendro_2.jpg);
}

section.grunto div.img1 {
    background: center / cover no-repeat url(../img/grunto1.jpg);
}

section.grunto div.img2 {
    background: center / cover no-repeat url(../img/grunto2.jpg);
}

section.grunto p.offer {
    text-align: center;
}

section.grunto p.offer a {
    font-size: 3rem;
    color: orange;
}

/* ###########################SCIENE PAGE####################################### */

/* ##############################WORKERS PAGES######################################### */
section.workers div.worker-header {
    display: flex;
    justify-content: left;
    padding-left: 15px;
}

section.workers ul ul {
    list-style-type: disc;
    margin-bottom: 10px;
}

section.workers a {
    font-size: 1.8rem;
    color: orange;
}

/* #################################THESIS PAGE############################################ */

/* ####################################FOR STUDENTS PAGE####################################### */

/* ######################################GALLERY PAGE############################################ */

/* ##########################################LINKS PAGE##################################################### */

/* #######################CONTACT PAGE#################################### */
section.contact {
    width: 100%;
}

div.contact-data {
    width: 50%;
    margin: 50px auto;
    border: 2px solid orange;
}

div.contact-data h1 {
    margin: 20px auto;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

div.contact-data p {
    text-align: center;
    font-size: 2rem;
    margin: 25px auto;
}
div.contact-data a {
   color: orange;
}

.map {
    width: 100%;
}

.map h2 {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin: 75px auto 25px;
}

.map iframe {
    height: 400px;
    width: 100%;
} 

/* ################################################FOOTER################################################ */
footer {
    width: 100%;
    padding: 12px;
    background-color :#333;
    color: orange;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    border-bottom: 1px solid #fff;
}

/* ####################################MEDIA QUERIES####################################### */
@media (max-width: 640px) {
    .wrapper {
        width: 100%;
        border: none;
    }

    header {
        flex-direction: column-reverse;
        height: 200px;
        width: 100%;
    }

    header h1 {
        min-width: 350px;
        width: 100%;
        height: 80px;
        padding: 10px 0;
    }
    
    header img {
        min-width: 350px;
        height: 120px;
    }
    
    header a {
        width: 100%;
    }

    nav ul {
        min-height: 50px;
    }

    nav li {
        display: none;
    }

    nav li a {
        border: none;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active li {
        display: block;
    }

    nav ul.active li a {
        text-align: left;
    }

    ul.dropdown-menu {
        left: 35%;
        border-left: 1px solid #fff;
    }
    
    ul.dropdown-menu li a {
        display: block;
        height: 100%;
        padding: 10px 5px;
        border-bottom: 1px solid #fff;
    }
    
    ul.dropdown-menu li a:hover {
        border-bottom: 1px solid orange;
    }
    
    nav ul li:hover > ul.dropdown-menu {
        display: block;
    }

    .burger {
        display: block;
        margin: 5px 0;
    }

    .burger.active {
        margin: 0;
    }

    .slider {
        height: 250px;
    }

    section.links {
        flex-direction: column;
        height: 240px;
    }
    
    .uni {
        flex-basis: 50%;
    }
    
    .uni a {
        height: 100%;
    }
    
    div.fb {
        flex-basis: 50%;
    }
    
    .fb a {
        height: 100%;
        font-size: 2.5rem;
        text-decoration: none;
    }
    
    .fb a i {
        font-size: 5.5rem;
        border: 1px solid #fff;
        margin-right: 10px;
    }

    section.workers div.worker-header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .map iframe {
        height: 240px;
    } 

    div.contact-data {
        width: 75%;
    }

    section.links .uni a {
        text-align: center;
    }
}

@media (min-width: 640px) and (max-width: 920px) {
    .wrapper {
        width: 100%;
        border: none;
    }

    header {
        flex-direction: column-reverse;
        height: 200px;
        width: 100%;
    }
    
    header a {
        width: 100%;
    }
    
    header img {
        min-width: 350px;
        height: 120px;
    }
    
    header h1 {
        min-width: 350px;
        width: 100%;
        height: 80px;
        padding: 25px 0;
    }

    nav ul {
        min-height: 50px
    }

    nav li {
        display: none;
    }

    nav li a {
        border: none;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active li {
        display: block;
    }

    nav ul.active li a{
        text-align: left;
    }

    ul.dropdown-menu {
        position: absolute;
        left: 25%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    
    ul.dropdown-menu li a {
        border-bottom: 1px solid #fff;
    }

    .burger {
        display: block;
        margin: 5px 0;
    }

    .burger.active {
        margin: 0;
    }

    .slider {
        height: 300px;
    }

    section.links {
        flex-direction: column;
        height: 240px;
    }
    
    .uni {
        flex-basis: 50%;
    }
    
    .uni a {
        height: 100%;
    }
    
    div.fb {
        flex-basis: 50%;
    }
    
    .fb a {
        height: 100%;
        font-size: 2.5rem;
        text-decoration: none;
    }
    
    .fb a i {
        font-size: 5.5rem;
        border: 1px solid #fff;
        margin-right: 10px;
    }
    
    .map iframe {
        height: 250px;
    }

    div.contact-data {
        width: 60%;
    }
}

@media (min-width: 921px) and (max-width: 1290px) {
    .wrapper {
        width: 85%;
    }
    nav li a {
        padding: 14px 4px;
        font-size: 1.3rem;
    }
    .slider {
        height: 300px;
    }

    .map iframe {
        height: 250px;
        width: 100%;
    } 
    
    div.contact-data {
        width: 60%;
    }
}

@media (min-width: 1291px) and (max-width: 1400px) {
    .wrapper {
        width: 75%;
    }
    nav li a {
        padding: 14px 8px;
    }
}