*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #333;
}

.wrapper {
  min-height: 100vh;
  min-width: 350px;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 1480px) {
  .wrapper {
    width: 65%;
    margin: 0 auto;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 240px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  color: #333;
}

.header__link {
  display: block;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 50%;
  text-align: center;
}

.header__logo {
  width: 350px;
  height: 100%;
}

.header__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 50%;
  padding: 45px 0;
  text-align: center;
  font-size: 3rem;
}

.menu {
  position: relative;
  background-color: #333;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 56px;
  list-style: none;
}

.menu__item {
  display: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu__list.active > .menu__item {
  display: block;
}

.menu__link {
  display: block;
  height: 100%;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  border-bottom: 3px solid #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.menu__link:hover {
  color: #ff6633;
  border-bottom-color: #ff6633;
}

.menu__dropdown-menu {
  display: none;
  width: 100%;
  background-color: #4d4d4d;
  letter-spacing: .5px;
  -webkit-box-shadow: 0 0 2px 1px #4d4d4d;
          box-shadow: 0 0 2px 1px #4d4d4d;
  list-style: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu__item:hover > .menu__dropdown-menu {
  display: block;
}

.menu__dropdown-link {
  display: block;
  padding: 10px 5px;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

.menu__dropdown-link:hover {
  border-bottom: 1px solid #ff6633;
}

.burger {
  position: absolute;
  top: 13px;
  right: 30px;
  width: 30px;
  height: 30px;
  -webkit-transition: .2s;
  transition: .2s;
}

.burger.active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.burger.active span:nth-child(1) {
  top: calc(50% - 3px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  bottom: calc(50% - 3px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #ff6633;
  -webkit-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s, -webkit-transform .2s .4s;
}

.burger__span:nth-child(1) {
  top: 0;
}

.burger__span:nth-child(2) {
  top: calc(50% - 3px);
}

.burger__span:nth-child(3) {
  bottom: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin: 0;
  text-align: center;
}

.slider__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0.6;
}

.slider__span {
  position: absolute;
  color: #000;
  font-size: 4.5rem;
  opacity: .4;
  display: none;
  cursor: pointer;
}

.slider .icon-left-circle {
  top: 50%;
  left: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider .icon-right-circle {
  top: 50%;
  right: 8%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.slider:hover .slider__span {
  display: block;
}

.slider__dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__dots-span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #000;
  margin: 0 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px #fff;
          box-shadow: 0 0 0 5px #fff;
}

.slider__dots-span.active {
  -webkit-box-shadow: 0 0 0 5px #fff, 0 0 3px 10px orange;
          box-shadow: 0 0 0 5px #fff, 0 0 3px 10px orange;
}

.news__header {
  padding: 30px 40px;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 2px solid #333;
}

.news__body {
  padding: 30px 40px;
  font-size: 2rem;
  border-bottom: 2px solid #333;
}

.links {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links__uni {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 100%;
  background-color: #ff6633;
}

.links__fb {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 100%;
  background-color: #4267b2;
}

.links__link {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
}

.links__link .icon-facebook {
  font-size: 5.2rem;
  border: 1px solid #fff;
}

.contact {
  width: 100%;
}

.contact__data {
  width: 80%;
  margin: 50px auto;
  border: 2px solid #ff6633;
}

.contact__header {
  margin: 20px auto;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.contact__paragraph {
  text-align: center;
  font-size: 2rem;
  margin: 25px auto;
}

.contact__link {
  color: #ff6633;
}

.contact__map {
  width: 100%;
}

.contact__header2 {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin: 75px auto 25px;
}

.contact__iframe {
  height: 300px;
  width: 100%;
}

.workshops {
  width: 100%;
}

.workshops__header {
  font-size: 3rem;
  font-weight: bold;
  margin: 15px 0 25px;
  padding: 0 20px;
  text-align: center;
  color: #ff6633;
}

.workshops__header2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0 20px;
}

.workshops__paragraph {
  font-size: 1.6rem;
  margin-bottom: 10px;
  padding: 0 20px;
}

.workshops__paragraph--offer {
  text-align: center;
}

.workshops__list {
  list-style: square;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 1.8rem;
}

.workshops__item {
  padding: 5px 20px;
}

.workshops__link {
  font-size: 1.6rem;
  padding: 20px;
  color: #ff6633;
}

.workshops__offer-link {
  font-size: 3rem;
  color: #ff6633;
}

.workshops__span {
  font-weight: bold;
}

.workshops__img {
  width: 100%;
  height: 400px;
  border: 1px solid #fff;
}

.workshops__img--dendro-first {
  background: center/cover no-repeat url(../img/dendro_1.jpg);
}

.workshops__img--dendro-second {
  background: center/cover no-repeat url(../img/dendro_2.jpg);
}

.workshops__img--grunto-first {
  background: center/cover no-repeat url(../img/grunto1.jpg);
}

.workshops__img--grunto-second {
  background: center/cover no-repeat url(../img/grunto2.jpg);
}

.hr {
  width: 75%;
  border-top: 2px solid #ff6633;
  margin: 20px auto;
}

.workers {
  width: 100%;
}

.workers__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
}

.workers__header {
  font-size: 3rem;
  font-weight: bold;
  margin: 15px 0 25px;
  padding: 0 20px;
  text-align: center;
  color: #ff6633;
}

.workers__header2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0 20px;
}

.workers__paragraph {
  font-size: 1.6rem;
  margin-bottom: 10px;
  padding: 0 20px;
}

.workers__list {
  list-style: square;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 5px 15px 0 10px;
  font-size: 1.8rem;
}

.workers__item {
  padding: 5px 15px 5px 10px;
}

.workers__link {
  font-size: 1.6rem;
  padding: 15px;
  color: #ff6633;
}

.workers__span {
  font-weight: bold;
}

.footer {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #ff6633;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-bottom: 1px solid #fff;
}
/*# sourceMappingURL=style.css.map */