html {
    font-family: $font-family;
    font-size: $font-size;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $main-color;
}

.wrapper {
    min-height: 100vh;
    min-width: 350px;
    width: 100%;
    background-color: $font-color;

    @media (min-width: 1480px) {
        width: 65%;
        margin: 0 auto;
        border-left: 1px solid $font-color;
        border-right: 1px solid $font-color;
    }
}