.footer {
    width: 100%;
    padding: 12px;
    background-color: $main-color;
    color: $uni-color;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    border-bottom: 1px solid $font-color;
}