.links {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $font-color;

    @media (min-width: 1024px) {
        height: 150px;
        flex-direction: row;
     }
    &__uni {
        flex-basis: 50%;
        width: 100%;
        background-color: $link-uni-color;

        @media (min-width: 1024px) {
            height: 100%;
         }
    }
    &__fb {
        flex-basis: 50%;
        width: 100%;
        background-color: $fb-color;
        @media (min-width: 1024px) {
            height: 100%;
         }
    }
    &__link {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: $font-color;
        text-decoration: none;
        font-size: 2.5rem;
        & .icon-facebook {
            font-size: 5.2rem;
            border: 1px solid $font-color;
        }
    }
}